# Fakturalis — Example environment variables
# Copy this file to `.env.local` and fill in your values. Never commit real secrets!

# Supabase
SUPABASE_BASE_PASS=
SUPABASE_ACCESS_TOKEN=
SUPABASE_PROJECT_REF=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Fakturalis
NEXT_PUBLIC_SITE_URL=https://fakturalis.pl

# hCaptcha
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=
HCAPTCHA_SECRET_KEY=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Mail (SMTP) configuration for sending emails
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# GUS API (Główny Urząd Statystyczny)
GUS_API_KEY=

# Node/Runtime
NODE_ENV=

# Sentry Build Plugin
SENTRY_AUTH_TOKEN=
